body{
	margin: 0;
	padding: 0;
	background: url(background.jpg) no-repeat;
	background-size: cover;
}
.site-headers{
	width: 100%;
	height: 25vh;
}

.menu{width: 100%; height: 49px;}

.menu a{ 
	float: left; text-decoration: none;
	color: #fff; padding: 14px 26px;
	font-size: 17px; font-weight: bold;
	text-transform: uppercase;
	transition: 0.6s all;
}

.menu a:hover{
	background-color: gray;
}
.menu .search{
	float: right;
}
.menu input[type=text]{
	padding: 6px;
	margin-top: 8px;
	border: none;
	font-size: 17px;
}

.menu .search button{
	float: right;
	padding: 6px;
	margin-top: 8px;
	font-size: 17px;
	margin-right: 16px;
	border: none;
	background-color: #ddd;
	cursor: pointer;
	transition: 0.6s all;
}
}

.menu .search button:hover{
	background-color: dodgerblue;
	color: #fff;
}



.box{
	width: 500px;
	background: rgba(0,0,0,0.2);
	padding: 40px;
	text-align: center;
	margin: auto;
	margin-top: 5%;
	color: white;
	font-family: 'Century Gothic',sans serif;
}

.box-p{
	width: 500px;
	background: rgba(0,0,0,0.2);
	padding: 5px;
	margin: auto;
	margin-top: 5%;
	text-align: center;
	color: white;
	font-size: 15px;
	font-family: 'Century Gothic',sans serif;
}

.box-img{
	border-radius: 50%;
	width: 200px;
	height: 200px;
}

.box-img2{
	width: 200px;
	height: 200px;
	padding: 10px;
}

.box h2{
	font-size: 35px;
	font-family: 'Dokdo',cursive;
	font-weight: 100;
}

.box h5{
	font-size: 20px;
	font-family: 'Dokdo',cursive;
	font-weight: 100;
	text-align: justify;
}


header h3{
	font-size: 24px;
	font-family: 'Dokdo',cursive;
	text-align: center;

}
main{
	margin-left: 120px;
}

.boxx{
	display: table-cell;
	float: left;
	width: 20%;
	padding: 10px;
	padding-left: 12px;
	overflow: hidden;
	border-radius: 5px;

}

img{
	width: 100%;
	border-radius: 5px;

}

img:hover{
	transform: scale(2,2);
	transition: 3s transform;
	border-radius: 5px;
}
